<template>
  <section class="contacts">
    <style>
.split, .gutter.gutter-horizontal {
    float: left;
    padding: 20px;
    color: white;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
}
    </style>
    <h3><a class="nav-back" href="#home"><i class="fas fa-arrow-alt-circle-left"></i></a>Welcome to the Contacts View!</h3>
    ${message}
    <div>
      <div class="split" id="one" style="background-color: red;">
        Here we go...
      </div>
      <div class="split" id="two" style="background-color: blue;">
        Yes, sir!
      </div>
    </div>
  </section>
</template>
